h1, h2, th {
    font-family: 'Platypi', cursive;
}

td {
    font-family: Fauna One, serif, Verdana, sans-serif;
    font-weight: 600;
}

label {
    font-family: Outfit;
}

input {
    font-family: verdana;
}

footer {
    font-family: Tahoma, sans-serif;
}

button {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Custom Header Styling */
.header {
    background-color: #343a40;
    padding: 10px 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo {
    max-height: 50px;
    margin-left: 10px;
}

.header .title {
    flex-grow: 1;
    text-align: center;
    font-size: 1.5rem;
}

/* Custom Header Styling */
.header {
    background-color: #343a40;
    padding: 10px 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo {
    max-height: 50px;
}

.header .title {
    flex-grow: 1;
    text-align: center;
    font-size: 1.5rem;
}
/* Center align the pagination controls */
.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Form styling */
.form-container {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    margin-bottom: 20px;
    color: #495057;
}

.form-container .form-group label {
    color: #495057;
    font-weight: bold;
}

.form-container .form-control {
    border-radius: 4px;
}

.form-container #submitBtn,
.form-container #updateBtn {
    width: 100%;
    margin-top: 10px;
}

/* Table styling */
.table-container {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.table-container h2 {
    margin-bottom: 20px;
    color: #495057;
}

.table thead th {
    background-color: #343a40;
    color: white;
    text-align: center;
}

.table tbody tr:hover {
    background-color: #f1f1f1;
}

.table th {
    vertical-align: middle;
    text-align: center;
}

/* Modal styling */
.modal-header {
    background-color: #dc3545;
    color: white;
    position: relative;
}

.modal-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.modal-footer .btn-secondary {
    background-color: #6c757d;
}

.modal-footer .btn-danger {
    background-color: #dc3545;
}